* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  color: #fff;
}

header {
  padding: 2rem;
  color: #fff;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background: rgb(10, 10, 10);
  background: linear-gradient(
    180deg,
    rgb(10, 10, 10) 0%,
    rgba(10, 10, 10, 0.5) 80%,
    rgba(10, 10, 10, 0) 100%
  );
}
nav {
  color: #fff;
  width: 20%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header a {
  color: #fff;
  text-decoration: none;
}

header h1 {
  color: #411ba1;
}

.hero_section {
  width: 100vw;
  height: 50vh;
  background-color: #000;
  display: flex;
  justify-content: end;
  overflow: hidden;
  position: relative;
}

.scrollMovies_hero_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;
}

.hero_section_row {
  display: flex;
  flex-direction: column;
  will-change: transform;
  gap: 10px;
  animation: move_hero_cards_anim 150s linear infinite;
}
.movie_card_hero {
  background-color: red;
  color: #fff;
  /* padding: 20px;  */
}

.divWithHeroTitle {
  position: absolute;
  background: rgb(10, 10, 10);
  background: linear-gradient(
    90deg,
    rgb(10, 10, 10) 0%,
    rgba(10, 10, 10, 0.99) 40%,
    rgba(10, 10, 10, 0.8) 100%
  );
  left: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 5rem;
  gap: 20px;
}

.divWithHeroTitle h1 {
  font-size: 5rem;
  max-width: 30%;
  text-align: left;
}
.divWithHeroTitle span {
  color: #411ba1;
}
.divWithHeroTitle p {
  max-width: 30%;
  text-align: left;
}
.trending_section {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.littleMovieCard {
  background-color: #141414;
  border: #141414 1rem solid;
  /* padding: 20px; */
  border-radius: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: left;
  transition: 0.1s;
  cursor: pointer;
}

.littleMovieCard img {
  border-radius: 5px;
}

.littleMovieCard .overImg {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.1s;
  border-radius: 5px;
}

.littleMovieCard:hover {
  transform: scale(1.01);
}
.littleMovieCard:hover .overImg {
  opacity: 1;
}

.trending_section .pop_movies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  width: 100%;
  gap: 50px;
}

.previewPage {
  color: #fff;
}

@keyframes move_hero_cards_anim {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

/* preview page */

.hero_preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #fff;
}
.hero_preview img {
  width: 100%;
}
.imgFade_content {
  position: absolute;
  /* background-color: red; */
  /* width: 100%; */
  padding: 30px;
  display: flex;
  top: 70%;

  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
}
.imgFade_content h1 {
  font-size: 3rem;
}
.hero_preview .imgFade {
  position: absolute;
  width: 100%;
  background: rgb(10, 10, 10);
  background: linear-gradient(
    0deg,
    rgb(10, 10, 10) 0%,
    rgb(10, 10, 10) 30%,
    rgba(10, 10, 10, 0) 90%,
    rgba(10, 10, 10, 0) 100%
  );
  aspect-ratio: 16/9;
  z-index: 100;
}
.imgFade_content_des {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 50px;
}
.imgFade_content_des_cards {
  display: flex;
  justify-content: space-evenly;
}

.castCard {
  background-color: #1b1c20;
  padding: 2rem;
  border-radius: 10px;
  max-width: 20rem;
}
.castCard2 {
  background-color: #1b1c20;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
.castCard2 .carcon{
  display: flex;
  gap: 20px;
}
.btn {
  width: fit-content;
  padding: 1rem 2rem;
  font-size: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  gap: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.imgFade .btn-circle {
  width: fit-content;
  padding: 1rem;
  font-size: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  gap: 10px;
  border-radius: 100%;
  aspect-ratio: 1/1;
  border: none;
}
.goBackBtn {
  width: fit-content;
  padding: 1rem;
  font-size: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  gap: 10px;
  border-radius: 100%;
  aspect-ratio: 1/1;
  border: none;
  position: absolute;
  background-color: #000;
  color: #fff;
  z-index: 100;
  top: 20px;
  left: 20px;
  border: #333943 2px solid;
  cursor: pointer;
}
.playBtn {
  background-color: #fff;
  color: #000;
}
.downloadBtn {
  background-color: #333943;
  color: #fff;
}
.viewTrendingDiv {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewTrendingDiv .moviesContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 90%;
  gap: 50px;
}
.moviesPage_hero {
  /* background-color: red;  */
}

.moviesPage_hero .fadeImg {
  position: absolute;
  width: 100%;
  background: rgb(10, 10, 10);
  background: linear-gradient(
    0deg,
    rgb(10, 10, 10) 0%,
    rgb(10, 10, 10) 30%,
    rgba(10, 10, 10, 0) 90%,
    rgba(10, 10, 10, 0) 100%
  );
  z-index: 10;
  top: 0;
  aspect-ratio: 16/9;
}
.moviesPage_hero .fadeImg2 {
  background: rgb(10, 10, 10);
  background: linear-gradient(
    90deg,
    rgb(10, 10, 10) 0%,
    rgba(10, 10, 10, 0.8) 30%,
    rgba(10, 10, 10, 0) 50%,
    rgba(10, 10, 10, 0) 100%
  );
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.moviesPage_hero .fadeImg2 .cc {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 50%;
  padding-left: 50px;
  /* background-color: red; */
  height: 100%;
}

.moviesPage_hero .fadeImg2 .cc h1 {
  font-size: 5rem;
  font-weight: 900;
}
.moviesPage_hero img {
  width: 100%;
  aspect-ratio: 16/9;
}

.moviesPage_categories {
  color: #fff;
  /* width: 100%; */
  margin-top: -15%;
  z-index: 50;
  position: relative;
  padding: 20px;
}
.moviesPage_categories .cat_movi {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 30px;
}
